



.work{
  background-color: white;
  color:#4f81c7;
  font-size: 50%;

}
body
{
  background-color:#f2f6f5;
}
hr{
background-color:#f2f6f5;
border-style: none;
border-color: grey;
border-width: 5px;
width: 5%;
border-top-style: dotted;


}
table{
  font-size: large;
}
img{
  height: 80px;
}
.diamond{
  height:100px; background-color: lightpink;
}
.diamond:hover{ background-color: gold;}
h1{
height:160px;
width: 1270px;
  color: #ffffff;
  background-color:#4f81c7;
  font-size:300%;

}

h3{
  color:#3e64ff;
}
td{
  color:#64c4ed;
}
